.footer-bg {
    background-image: url("../public/assets/images/footer-bg.png");
    background-size: cover;
    background-position: center center;
    padding-top: 80px;
    padding-bottom: 30px;
    position: relative;
  }