/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

.card1 {
    color: white;
    flex-direction: column;
  }
  
  .cards1 {
   
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  
  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .cards1 { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards1 { grid-template-columns: repeat(3, 1fr); }
  }

